*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.items-list{
  text-align: justify;
  box-sizing: border-box;
  margin-top: 5%;
  overflow-y: scroll;

}

.list-item{
  padding: 2%;
  list-style-type: none;
  background-color: cornsilk;
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}

.list-item label{
  margin-left: 3%;
  width: 10%;
  height: 10%;
  flex-grow: 1;
}

.list-item input[type="checkbox"]{
  width: 2.5rem;
  height: 2.5rem;
}

.list-item input[type="checkbox"]:hover
.list-item input[type="checkbox"]:focus{
  outline: 2.5rem;

}

.list-item svg{
  width: 2.5rem;
  height: 2.5rem;
  color: blue;
}

.list-item svg:hover{
  color: red;
}

.footer{
  text-align: center;
  background-color: bisque;
  padding: 1%;
  display: grid;
  place-content: center;
  grid-area: footer;
  width: 100%;
  margin-top: 5%;
  bottom: 0px;
}

#add{
  width: 2.5rem;
  height: 2.5rem;
  color: blue;
}

#add:hover{
  color: greenyellow;
}

.header{
  text-align: center;
  background-color: bisque;
  padding: 2%;
}
